<header class="site-header">
  <div class="header-inner">
    
    <h1 class="site-title">
      <a href="{{ '/' | relative_url }}">
        CasaNova
      </a>
    </h1>

    <div class="header-right">
        
        <nav class="site-nav">
          <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
          <a href="{{ '/about.html' | relative_url }}" class="nav-link">About</a>
          <a href="{{ '/features.html' | relative_url }}" class="nav-link">Features</a>
          <a href="{{ '/community.html' | relative_url }}" class="nav-link">Community</a>
          <a href="{{ '/contact.html' | relative_url }}" class="nav-link">Contact</a>
          <a href="https://your-readthedocs-link" class="nav-link nav-link-external">Docs</a>
          <a href="https://github.com/whtjddms0714-byte/CasaNova" class="nav-link nav-link-external">GitHub</a>
        </nav>

        
    </div>

  </div>
</header>